.leaflet-gislayers-group {
  padding-left: 18px;
}

.leaflet-gislayers-layer {
  padding-left: 18px;
  position: relative;
}

.leaflet-gislayers-toggle-box {
  position: relative;
  right: -3px;
  top: -1px;
  background: #999;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 2px 6px 2px 2px !important;
}

.leaflet-gislayers-toggle-box[type=checkbox]:checked {
  background: #0080FF;
}

.leaflet-gislayers-guidelines {
  /* width: 100%;
  height:100%; */
  border:1px solid;
  position:absolute;
  pointer-events: none;
}

.leaflet-gislayers-baselayer {
  padding-left: 18px;
}