@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.leaflet-gislayers-group {
  padding-left: 18px;
}

.leaflet-gislayers-layer {
  padding-left: 17.6px;
  position: relative;
}

input[type=checkbox].leaflet-gislayers-toggle-box {
  display: none;
}

input[type=checkbox].leaflet-gislayers-toggle-box + label {
  display: inline-block;
  background:url("../src/images/minus.png");
  height: 9px;
  width: 9px;
  right: 0px;
  top: -1px;
  margin: 1px 4px 2px 4.5px;
}

input[type=checkbox].leaflet-gislayers-toggle-box:checked + label { 
  background:url("../src/images/plus.png");
}



.leaflet-gislayers-baselayer {
  padding-left: 18px;
}